name: Daily puzzle init

on:
  schedule:
    - cron: '5 0 * * *'
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Install deps
        run: yarn install
        working-directory: ./anchor_project/chess-trivia
      - name: Run daily-trivia
        env:
          ADMIN_KEYPAIR_JSON: ${{ secrets.ADMIN_KEYPAIR_B64 }}
          RPC: https://api.devnet.solana.com
        run: yarn ts-node ./anchor_project/chess-trivia/scripts/daily-trivia.ts
        working-directory: ./anchor_project/chess-trivia